@font-face {
  font-family: Inter;
  src: local('Inter'), url('../fonts/InterRegular.woff2') format('woff2');
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: black;
}
.container {
  display: grid;
  place-content: center; /* Центрирует всё и сразу */
  min-height: 300px;     /* Контейнеру нужна высота, чтобы было понятно, где вертикальный центр */
}
.nav {
  background: #fff;
  display: inline-flex;
  gap: 15px;
  border: none;
  border-radius: 20px;
  padding: 15px;
}
.item {
  border: none;
  border-radius: 12px;
  padding: 12px 24px;

  font-family: Inter,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}
.active {
  background: #523EE8;
  color: #fff;
}
